!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')

    // Place favicon.ico and apple-touch-icon.png in the root directory
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='bower_components/angular-tags/dist/angular-tags-0.2.10.css')
    link(rel='stylesheet', href='bower_components/angular-loading-bar/build/loading-bar.min.css')

    // build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  body(ng-app='videoGalleryApp')
    //if lt IE 7
      p.browsehappy
        | You are using an <strong>outdated</strong> browser.
        | Please <a href="http://browsehappy.com/">upgrade your browser</a>
        | to improve your experience.
    //if lt IE 9
      script(src='bower_components/es5-shim/es5-shim.js')
      script(src='bower_components/json3/lib/json3.min.js')

    // Add your site or application content here
    .overlay(ng-show='isLoading')
      h3(ng-bind='(isSaving && "Saving" || (isDeleting && "Deleting" || "Loading")) + "..."')
    .container(ng-view='')

    // Google Analytics: change UA-XXXXX-X to be your site's ID
    script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
    script(src='bower_components/fitvids/jquery.fitvids.js')
    script(src='bower_components/lodash/dist/lodash.min.js')
    script(src='bower_components/angular/angular.min.js')

    // build:js({.tmp,app}) scripts/modules.js
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/angular-ui-bootstrap-bower/ui-bootstrap.js')
    script(src='bower_components/angular-tags/dist/angular-tags-0.2.10.min.js')
    script(src='bower_components/angular-loading-bar/build/loading-bar.min.js')
    // endbuild

    script(src='scripts/config.js')

    // build:js({.tmp,app}) scripts/scripts.js
    script(src='scripts/app.js')
    script(src='scripts/controllers/admin-videos.js')
    script(src='scripts/controllers/edit-video.js')
    script(src='scripts/controllers/videos.js')
    script(src='scripts/services/tags.js')
    script(src='scripts/services/videos.js')
    script(src='scripts/directives/video.js')
    script(src='scripts/directives/jq-ui-sortable.js')
    script(src='scripts/filters/capitalize.js')
    // endbuild
